<ion-header>
  <ion-toolbar>
    <ion-title>Csv file create and download</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Plugin: {{plugin}}</ion-label>
    <ion-toggle mode="ios" (ionChange)="changePlugin($event)"></ion-toggle>
  </ion-item>
<ion-grid>
  <div *ngFor="let data of demoObject" class="ion-padding">
  <ion-row>
    <ion-col>
      <div>
       {{data.Date}}
      </div>
    </ion-col>
    <ion-col>
      <div>
      {{data.Email}}
      </div>
    </ion-col>
    <ion-col>
      <div>
        {{data.Amount}}
      </div>
    </ion-col>
    <ion-col>
      <div>
        {{data.Country}}
      </div>
    </ion-col>
  </ion-row>
  </div>
</ion-grid>
<ion-button expand="full" (click)="convertObjectToCsv(demoObject)" [disabled]="plugin !== 'capacitor'">
  Download as csv [capacitor]
</ion-button>
<ion-button expand="full" (click)="convertObjectToCsv(demoObject)" [disabled]="plugin !== 'cordova'">
  Download as csv [native]
</ion-button>
</ion-content>
